.dropdown .anticon {
    padding: 0px 3px;
}
.dropdown.am-button-small {
    font-size: 13px;
    height: 27px;
    line-height: 30px;
    padding: 0 15px;
}
.am-modal-button-group-v.am-modal-button-group-operation .am-modal-button {
    -webkit-touch-callout: none;
    position: relative;
    border-top: 1PX solid #ddd;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #108ee9;
    font-size: 16px;
    height: 100%;
    line-height: 22px;
    padding: 7px 15px;
    display: block;
    width: auto;
    overflow: initial;
    text-overflow: initial;
    white-space: normal;
}
.am-modal-close {
    right: 15px;
    top: 15px;
}
.am-list-item .am-list-line .am-list-content {
    font-size: 14px;
}